# WordPress uploads
wordpress/wp-content/uploads/
 
# WordPress config
wordpress/wp-config.php

# Ignore WordPress
wordpress/*

# Allow directory path
!wordpress/wp-content/
!wordpress/wp-content/plugins/**


# Environment files
.env
.env.*
!.env.example

# Database
db_data/

# Node
frontend/node_modules/
frontend/.next/

# Python
ai-service/.venv/
ai-service/venv/
ai-service/__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log


# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive Terraform variables
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan
*.plan

# SSH private keys
*.pem
knowledge-base-key.pem

# Private files
.private/*
.private/aws-ec2-public-ip-notes.txt
.private/
